<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>poc-angular-frontend</title>
    <meta name="description" content="">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="pocAngularFrontendApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div ng-controller="NavbarCtrl" class="navbar navbar-inverse navbar-fixed-top" role="navigation">

        <div class="container">

            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a class="navbar-brand" href="#">poc-angular-frontend</a>

            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li class="divider"></li>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Technos<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>Frontend</li>
                            <li><img src="../images/icon-yo-mini.ico" class="img-rounded pull-left"><i><a href="">Yeoman</a></i></li>
                            <li><a href="">Grunt</a></li>
                            <li><a href="">Bower</a></li>
                            <li><a href="">Bootstrap</a></li>
                            <li><a href="">Angular</a></li>
                            <li class="divider"></li>
                            <li>Backend</li>
                            <li><a href="">MySQL</a></li>
                            <li><a href="">Play!</a></li>
                            <li class="divider"></li>
                            <li>Outils divers</li>
                            <li><a href="">Git</a></li>
                            <li><a href="">IntelliJ IDEA</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Recherches<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/search-county">Départements</a></li>
                            <li class="divider"></li>
                            <li><a href="#/search">Cinémas</a></li>
                            <li class="divider"></li>
                            <li><a href="#/search-cinema-by-county">Cinémas par départements</a></li>
                        </ul>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">CRUD<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/crud-county">Départements</a></li>
                            <li class="divider"></li>
                            <li><a href="#/search">Cinémas</a></li>
                            <li class="divider"></li>
                            <li><a href="#/search-cinema-by-county">Cinémas par départements</a></li>
                        </ul>
                    </li>
                    <!--<li class="divider"></li>
                    <li>
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">Stats & Graphs<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/search-county">Départements</a></li>
                            <li class="divider"></li>
                            <li><a href="#/search">Cinémas</a></li>
                            <li class="divider"></li>
                            <li><a href="#/search-cinema-by-county">Cinémas par départements</a></li>
                        </ul>
                    </li>-->
                    <li class="divider"></li>
                    <li><a href="#/app-version">?</a></li>
                    <li class="divider"></li>
                </ul>

                <form ng-if="!userService.logged" class="navbar-form navbar-right" role="form">

                    <div class="form-group">
                        <input type="text" ng-model="login" placeholder="email ou login" class="form-control">
                    </div>
                    <div class="form-group">
                        <input type="password" ng-model="pwd" placeholder="mot de passe" class="form-control">
                    </div>
                    <div class="form-group">
                        <button ng-click="doLogin(login, pwd)" class="btn btn-success">Login</button>
                    </div>

                </form>

                <form ng-if="userService.logged" class="navbar-form navbar-right" role="form">

                    <div class="form-group">
                        <p class="navbar-text my-navbar-text">Logué en tant que <a href="#" class="navbar-link">{{userService.login}}</a></p>
                    </div>

                    <div class="form-group">
                        <button ng-click="doLogout()" class="btn btn-danger">Logout</button>
                    </div>

                </form>

            </div><!--/.navbar-collapse -->

        </div>

    </div>

    <!-- Add your site or application content here -->
    <div ng-view=""></div>

    <!--<hr/>-->
    <div class="row"> <br/> </div>

    <div class="jumbotron" >
    <div class="container" >
        <footer>

            <p>&copy; Marc Loupias 2014</p>
        </footer>
    </div>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/ng-grid/build/ng-grid.min.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/controllers/main.js"></script>
    <script src="scripts/controllers/search-cinema.js"></script>
    <script src="scripts/controllers/search-county.js"></script>
    <script src="scripts/controllers/search-cinema-by-county.js"></script>
    <script src="scripts/controllers/app-version.js"></script>
    <script src="scripts/services/backend-url-service.js"></script>
    <script src="scripts/services/app-version-service.js"></script>
        <script src="scripts/controllers/navbar.js"></script>
        <script src="scripts/services/login-service.js"></script>
        <script src="scripts/services/logout-service.js"></script>
        <script src="scripts/services/user-service.js"></script>
        <script src="scripts/services/county-service.js"></script>
        <script src="scripts/services/cinema-service.js"></script>
        <script src="scripts/controllers/crud-county.js"></script>
        <!-- endbuild -->
</body>
</html>
