<div class="container" >

    <div class="row">
        <h3>Version</h3>
    </div>

    <div class="row"> <hr/> </div>

    <div ng-if="pending" class="row">
        <loader></loader>
    </div>

    <div ng-if="!userService.logged && !pending" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Version - backend</h3>
        </div>

        <div class="panel-body">
            <br/>
            Nom : {{name}}
            <br/>
            Version : {{version}}
            <br/>
        </div>
    </div>

    <div ng-if="userService.logged && !pending" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Version-full - backend</h3>
        </div>

        <div class="panel-body">
            <br/>
            Nom : {{name}}
            <br/>
            Version : {{version}}
            <br/>
            Play framework version : {{playVersion}}
            <br/>
            Java version : {{javaVersion}}
            <br/>
            JVM name : {{jvmName}}
            <br/>
            JVM version : {{jvmVersion}}
            <br/>
            OS timezone : {{osTimezone}}
            <br/>
            OS country : {{osCountry}}
            <br/>
            OS arch : {{osArch}}
            <br/>
            OS name : {{osName}}
            <br/>
            OS version : {{osVersion}}
            <br/>
        </div>
    </div>

</div>
