<div class="container" >

    <div class="row">
        <h3>Version</h3>
    </div>

    <div class="row"> <hr/> </div>

    <div ng-if="pending" class="row">
        <loader></loader>
    </div>

    <div ng-if="!userService.logged && !pending" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Version - backend</h3>
        </div>

        <div class="panel-body">
            <br/>
            Nom : {{back.name}}
            <br/>
            Version : {{back.version}}
            <br/>
        </div>
    </div>

    <div ng-if="userService.logged && !pending" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Version-full - backend</h3>
        </div>

        <div class="panel-body">
            <br/>
            Nom : {{back.name}}
            <br/>
            Version : {{back.version}}
            <br/>
            Play framework version : {{back.playVersion}}
            <br/>
            Java version : {{back.javaVersion}}
            <br/>
            JVM name : {{back.jvmName}}
            <br/>
            JVM version : {{back.jvmVersion}}
            <br/>
            OS timezone : {{back.osTimezone}}
            <br/>
            OS country : {{back.osCountry}}
            <br/>
            OS arch : {{back.osArch}}
            <br/>
            OS name : {{back.osName}}
            <br/>
            OS version : {{back.osVersion}}
            <br/>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Version - frontend</h3>
        </div>

        <div class="panel-body">
            <br/>
            Nom : {{front.name}}
            <br/>
            Version : {{front.version}}
            <br/>
        </div>
    </div>

</div>
