<div class="container" >

    <div class="row">
        <h3>CRUD des Départements</h3>
    </div>

    <div class="row"> <hr/> </div>

    <div class="row">

        <div ng-controller="CrudCountyNewCountyCtrl">
            <button class="btn btn-default pull-right" ng-click="isCollapsed = !isCollapsed">Toggle collapse</button>

            <div collapse="isCollapsed">
                <div class="well well-lg">Some content</div>
            </div>
        </div>

    </div>

    <div class="row"> <hr/> </div>

    <div ng-if="pending" class="row">
        <loader></loader>
    </div>

    <div ng-if="!pending" class="row">
        <div class="gridStyle" ng-grid="gridOptionsCrudCounty"></div>
    </div>

</div>