<div class="container" >

    <div class="row">
        <h3>CRUD des Départementss</h3>
    </div>

    <div class="row"> <hr/> </div>

    <!--<div class="row">
        <p>$scope.totalServerItems = {{ totalServerItems }}</p>
        <p>$scope.pagingOptions.pageSize = {{ pagingOptions.pageSize }}</p>
        <p>$scope.pagingOptions.currentPage = {{ pagingOptions.currentPage }}</p>

        <p>$scope.gridOptionsCrudCounty.totalServerItems = {{ gridOptionsCrudCounty.totalServerItems }}</p>
        <p>$scope.gridOptionsCrudCounty.pagingOptions.pageSize = {{ gridOptionsCrudCounty.pagingOptions.pageSize }}</p>
        <p>$scope.gridOptionsCrudCounty.pagingOptions.currentPage = {{ gridOptionsCrudCounty.pagingOptions.currentPage }}</p>
    </div>

    <div class="row"> <hr/> </div>-->

    <div class="row">
        <div class="gridStyle" ng-grid="gridOptionsCrudCounty"></div>
    </div>

</div>