

<div class="jumbotron" >
    <div class="container">
        <p>
            Cette application web liste les cinémas français actifs pour l'année 2013 ainsi que les départements français.
        </p>

        <p>
            Les opérations de CRUD standard sont disponibles pour les deux entités (cinémas et départements) de l'application.
        </p>

        <p>
            Les données proviennent
            <a href="http://www.data.gouv.fr/fr/dataset/liste-des-etablissements-cinematographiques-actifs" target="_blank">
                du site d'open-data
            </a>
            de l'état français.
        </p>
    </div>
</div>

<div class="container" >
    <div class="row">

        <h2>Technologies utilisées</h2>

        <div class="col-md-4">

            <h3>Frontend</h3>

            <accordion close-others="true">

                <accordion-group is-open="yeomanisopen">
                    <accordion-heading>

                        <img ng-hide="yeomanisopen" src="../images/icon-yo-mini.ico" alt="Yeoman" class="img-rounded">
                        <i>Yeoman - Web scaffolding tool</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': yeomanisopen, 'glyphicon-chevron-right': !yeomanisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-yo.gif" alt="Yeoman" class="img-rounded pull-right">

                    <blockquote><p>Modern workflow for modern webapps</p></blockquote>

                    <i><strong>Google</strong>, <strong>2012</strong> - <strong>BSD</strong></i><hr/>

                    <i>
                        <p>
                            <a href="http://yeoman.io/index.html" target="_blank">Yeoman</a> est un workflow pour
                            le développement d'applications web au travers d'un
                        <a href="http://yeoman.io/generators.html" target="_blank">generator</a>.
                        </p>

                        <p>
                        Il est bâti sur <a href="https://www.npmjs.org/" target="_blank">npm</a> et
                        <a href="http://git-scm.com/" target="_blank">git</a> et inclut un outil en ligne de
                        commande, <a href="https://github.com/yeoman/yo" target="_blank">yo</a>, qui permet principalement
                        d'intéragir avec
                        <a href="http://yeoman.io/official-generators.html" target="_blank">les generators</a>
                        et utilise
                        <a href="http://gruntjs.com/" target="_blank">grunt</a> et
                        <a href="http://bower.io/" target="_blank">bower</a>.
                        </p>

                        <p>
                            En générant une application web via yo, ce dernier installe et configure l'ensemble des
                            outils et dépendances nécessaires au projet en fonction du generator choisi, permettant
                            au développeur de se concentrer sur son coeur de métier.
                        </p>
                    </i>

                </accordion-group>

                <accordion-group is-open="gruntisopen">
                    <accordion-heading>

                        <img ng-hide="gruntisopen" src="../images/icon-grunt-mini.ico" alt="Grunt" class="img-rounded">
                        <i>Grunt - JavaScript task runner</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': gruntisopen, 'glyphicon-chevron-right': !gruntisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-grunt.gif" alt="Grunt" class="img-rounded pull-right">

                    <blockquote><p>The JavaScript Task Runner</p></blockquote>

                    <i><strong>Bocoup</strong>, <strong>2012 ?</strong> - <strong>MIT</strong></i><hr/>

                    <i>
                        <p>
                            L'équivalent javascript de <a href="http://ant.apache.org/" target="_blank">ant</a>
                            dans le monde java.
                        </p>

                        <p>
                            <a href="http://gruntjs.com/" target="_blank">grunt</a> permet d'automatiser des opérations
                            rébarbatives comme la minification du code, les builds, le lancement des tests, le lancement
                            d'un serveur web de développement, le contrôle de qualité du code, le déploiement, etc ...
                        </p>

                        <p>
                            De nombreuses tâches développées par la communauté sont
                            <a href="http://gruntjs.com/plugins" target="_blank">disponibles</a>.
                        </p>
                    </i>

                </accordion-group>

                <accordion-group is-open="bowerisopen">
                    <accordion-heading>

                        <img ng-hide="bowerisopen" src="../images/icon-bower-mini.gif" alt="Bower" class="img-rounded">
                        <i>Bower - Web package manager</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': bowerisopen, 'glyphicon-chevron-right': !bowerisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-bower.gif" alt="Bower" class="img-rounded pull-right">

                    <blockquote><p>A package manager for the web</p></blockquote>

                    <i><strong>Twitter</strong>, <strong>2012 ?</strong> - <strong>MIT</strong></i><hr/>

                    <i>
                        <p>
                            <a href="http://bower.io/" target="_blank">Bower</a> est un gestionnaire de paquets.
                            Il télécharge le code source des paquets directement
                            sur <a href="https://github.com/" target="_blank">GitHub</a> et installe chaque paquet
                            dans le répertoire du projet.
                        </p>

                        <p>
                            Une <a href="http://bower.io/search/" target="_blank">interface de recherche</a> permet
                            de rechercher parmi les paquets disponible.
                        </p>

                        <p>
                            Bower bénéficie d'une énorme popularité, il est rare de ne pas trouver un artefact via Bower.
                        </p>
                    </i>

                </accordion-group>

                <accordion-group is-open="bootstrapisopen">
                    <accordion-heading>

                        <img ng-hide="bootstrapisopen" src="../images/icon-bootstrap-mini.png" alt="Bootstrap" class="img-rounded">
                        <i>Bootstrap - HTML/CSS framework</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': bootstrapisopen, 'glyphicon-chevron-right': !bootstrapisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-bootstrap-mini.png" alt="Bootstrap" class="img-rounded pull-right">

                    <blockquote>
                        <p>Sleek, intuitive, and powerful mobile first front-end framework for faster and easier web development</p>
                    </blockquote>

                    <i><strong>Twitter</strong>, <strong>2011</strong> - <strong>MIT</strong></i><hr/>

                    <i>
                        <p>
                            <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> est un framework HTML/CSS.
                        </p>
                        <p>
                            C'est le projet le plus populaire sur <a href="https://github.com/" target="_blank">GitHub</a>.
                        </p>
                        <p>
                            Bootstrap augmente considérablement la productivité des développeurs frontend en fournissant
                        une structure HTML générale à un projet web ainsi qu'une multitude de widgets et classes CSS.
                        </p>
                        <p>
                            Depuis la version 2, le framework s'est recentré sur le
                            <a href="http://en.wikipedia.org/wiki/Responsive_web_design" target="_blank">responsive design</a>
                            permettant au développeur d'avoir un code unique compatible mobile/tablette/desktop.
                        </p>
                    </i>

                </accordion-group>

                <accordion-group is-open="angularisopen">
                    <accordion-heading>

                        <img ng-hide="angularisopen" src="../images/icon-angular-mini.ico" alt="Angular" class="img-rounded">
                        <i>Angular - JavaScript framework</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': angularisopen, 'glyphicon-chevron-right': !angularisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-angular-large.png" alt="Angular" class="img-rounded pull-right">

                    <blockquote><p>HTML enhanced for web apps!</p></blockquote>

                    <i><strong>Google</strong>, <strong>2009</strong> - <strong>MIT</strong></i><hr/>

                    <i>
                        <p><a href="http://angularjs.org/" target="_blank">AngularJS</a> est un framework MVC javascript.</p>
                        <p>
                            C'est un framework structurant pour
                            <a href="http://en.wikipedia.org/wiki/Single-page_application" target="_blank">
                                single-page application</a>,
                            il fournit entre autre un système de
                            binding entre le DOM et le modèle ainsi qu'un système de directive permettant d'enrichir le HTML.
                        </p>
                        <p>
                            Angular utilise intensivement l'injection de dépendances et facilite le
                            <a href="http://en.wikipedia.org/wiki/Test-driven_development" target="_blank">TDD</a>.
                        </p>
                        <p>
                            Combiné à <a href="http://getbootstrap.com/" target="_blank">Bootstrap</a> via
                            <a href="http://angular-ui.github.io/" target="_blank">Angular-UI</a>,
                            il permet au développement web d'arriver à hauteur
                            des clients lourds tout en conservant une grande légèreté.
                        </p>
                    </i>

                </accordion-group>

            </accordion>

        </div>

        <div class="col-md-4">

            <h3>Backend</h3>

            <accordion close-others="true">

                <accordion-group is-open="mysqlisopen">
                    <accordion-heading>

                        <img ng-hide="mysqlisopen" src="../images/icon-mysql-mini.ico" alt="MySQL" class="img-rounded">
                        <i>MySQL - Relational database</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': mysqlisopen, 'glyphicon-chevron-right': !mysqlisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-mysql.png" alt="MySQL" class="img-rounded pull-right">

                    <blockquote><p>The world's most popular open source database</p></blockquote>

                    <i><strong>Oracle</strong>, <strong>1995</strong> - <strong>GPL / Commerciale</strong></i><hr/>

                    <i>
                        <p><a href="http://www.mysql.com/" target="_blank">MySQL</a>
                            est un système de gestion de base de données relationelles que l'on ne présente plus.</p>
                        <p>Disponible sur toutes les plateformes usuelles, il a été popularisé en son temps sur la stack
                            <a href="http://en.wikipedia.org/wiki/LAMP_(software_bundle)" target="_blank">LAMP</a>.</p>
                    </i>

                </accordion-group>

                <accordion-group is-open="playisopen">
                    <accordion-heading>

                        <img ng-hide="playisopen" src="../images/icon-play-mini.png" alt="Play!" class="img-rounded">
                        <i>Play! - Java/Scala framework</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': playisopen, 'glyphicon-chevron-right': !playisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-play.png" alt="Play!" class="img-rounded pull-right">

                    <blockquote><p>The High Velocity Web Framework For Java and Scala</p></blockquote>

                    <i><strong>Zenexity</strong>, <strong>2007</strong> - <strong>Apache 2</strong></i><hr/>

                    <i>
                        <p>
                            <a href="http://www.playframework.com/" target="_blank">Play!</a> est un framework scala et
                            java pour le développement d'applications web.
                        </p>
                        <p>Il a la particularité de
                            <a href="http://guillaumebort.tumblr.com/post/558830013/why-there-is-no-servlets-in-play" target="_blank">
                                ne pas être basé sur l'api servlet</a> de java.</p>
                        <p>Play! se veut être :</p>
                        <ul>
                            <li><a href="http://en.wikipedia.org/wiki/Stateless_protocol" target="_blank">stateless</a>
                                (et donc scalable facilement)</li>
                            <li>
                                <a href="http://en.wikipedia.org/wiki/Representational_state_transfer" target="_blank">
                                    RESTful</a></li>
                            <li><a href="http://en.wikipedia.org/wiki/Asynchronous_I/O" target="_blank">asynchrone</a></li>
                            <li>
                                basé sur une architecture
                                <a href="http://en.wikipedia.org/wiki/Model%E2%80%93view%E2%80%93controller" target="_blank">
                                    MVC</a></li>
                        </ul>
                        <p>
                            Dans le cadre de ce projet, je n'utilise pas du tout la partie vue qui est déléguée au frontend.
                            Le backend expose une API REST (via les contrôleurs Play et les routes)
                            avec laquelle le frontend dialogue.
                        </p>
                        <p>
                            L'architecture n'est donc plus réellement MVC mais est devenue
                            <a href="http://en.wikipedia.org/wiki/Service-oriented_architecture" target="_blank">SOA</a>
                             via l'intégration de
                            <a href="https://code.google.com/p/google-guice/" target="_blank">Guice</a>.
                        </p>
                        <p>
                            Play! s'utilise au travers d'un CLI pour générer l'application,
                            lancer un serveur de développement, exécuter les tests, gérer les dépendances, etc ...
                        </p>
                    </i>

                </accordion-group>

                <accordion-group is-open="guiceisopen">
                    <accordion-heading>

                        <img ng-hide="guiceisopen" src="../images/icon-guice-16x16.gif" alt="Play!" class="img-rounded">
                        <i>Guice - Dependency Injection</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': guiceisopen, 'glyphicon-chevron-right': !guiceisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-guice-48x48.gif" alt="Guice" class="img-rounded pull-right">

                    <blockquote><p>Guice (pronounced 'juice') is a lightweight dependency injection framework for
                        Java 5 and above, brought to you by Google.</p></blockquote>

                    <i><strong>Google</strong>, <strong>2008</strong> - <strong>Apache 2</strong></i><hr/>

                    <i>
                        <p>
                            <a href="https://code.google.com/p/google-guice/" target="_blank">Guice</a>
                            est un framework d'injection de dépendances pour applications java.
                        </p>
                        <p>
                            Associé à Play! il permet de bénéficier des avantages de ce design pattern sans avoir
                            besoin d'intégrer un composant beaucoup plus lourd comme Spring.
                        </p>
                    </i>

                </accordion-group>

            </accordion>

        </div>

        <div class="col-md-4">

            <h3>Outils divers</h3>

            <accordion close-others="true">

                <accordion-group is-open="gitisopen">
                    <accordion-heading>

                        <img ng-hide="gitisopen" src="../images/icon-git-mini.ico" alt="Git" class="img-rounded">
                        <i>Git - Distributed revision control & SCM</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': gitisopen, 'glyphicon-chevron-right': !gitisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-git.png" alt="Git" class="img-rounded pull-right">

                    <blockquote><p>--fast-version-control</p></blockquote>

                    <i><strong>Linus Torvalds</strong>, <strong>2005</strong> - <strong>GPL v2</strong></i><hr/>

                    <i>
                        <p>
                            <a href="http://git-scm.com/" target="_blank">git</a>
                            est un gestionnaire de code source créé à l'origine par Linus Torvalds pour gérer
                            les développements sur le noyau linux.
                        </p>
                        <p>
                            Il a depuis été largement diffusé et est devenu une référence en la matière.
                        </p>
                        <p>
                            Il bénéficie d'une architecture distribuée particulièrement adaptée aux développement
                            opensource. Sa fiabilité le rend également très populaire pour des développements en
                            entreprise plus classiques.
                        </p>
                    </i>

                </accordion-group>

                <accordion-group is-open="intellijisopen">
                    <accordion-heading>

                        <img ng-hide="intellijisopen" src="../images/icon-intellij-mini.ico" alt="IntelliJ IDEA" class="img-rounded">
                        <i>IntelliJ IDEA - IDE</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': intellijisopen, 'glyphicon-chevron-right': !intellijisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-intellij.png" alt="IntelliJ IDEA" class="img-rounded pull-right">

                    <blockquote><p>Work Miracles in Java and Beyond</p></blockquote>

                    <i><strong>JetBrains</strong>, <strong>2001</strong> - <strong>Apache 2 / Propriétaire</strong></i><hr/>

                    <i>
                        <p>
                            <a href="http://www.jetbrains.com/idea/" target="_blank">IntelliJ IDEA</a> est un EDI java
                            développé par la société tchèque
                            <a href="http://www.jetbrains.com/" target="_blank">JetBrains</a>.
                        </p>

                        <p>
                            IntelliJ se décline en deux version, la community et la ultimate. La première est opensource
                            et gratuite, la deuxième est propriétaire et payante.
                        </p>

                        <p>
                            IntelliJ se démarque des autres EDI java par sa légèreté et ses capacités de gestion du code
                            source. Il intégre parfaitement de très nombreux frameworks et outils.
                        </p>
                    </i>

                </accordion-group>

                <accordion-group is-open="herokuisopen">
                    <accordion-heading>

                        <img ng-hide="herokuisopen" src="../images/icon-heroku-mini-16x16.ico" alt="IntelliJ IDEA" class="img-rounded">
                        <i>Heroku - PaaS</i>

                        <i class="pull-right glyphicon"
                           ng-class="{'glyphicon-chevron-down': herokuisopen, 'glyphicon-chevron-right': !herokuisopen}">
                        </i>
                    </accordion-heading>

                    <img src="../images/icon-heroku.png" alt="Heroku" class="img-rounded pull-right">

                    <blockquote><p>Deliver apps, the right way.</p></blockquote>

                    <i><strong>Salesforce.com</strong>, <strong>2007</strong></i><hr/>

                    <i>
                        <p>
                            <a href="https://www.heroku.com/" target="_blank">Heroku</a> est une Platform as a Service
                            <a href="http://en.wikipedia.org/wiki/Platform_as_a_service" target="_blank">(PaaS)</a>.
                        </p>

                        <p>
                            Elle fournit au développeur un moyen simple et efficace de déployer et gérer des applications
                            de type Software as a Service
                            <a href="http://en.wikipedia.org/wiki/Software_as_a_service" target="_blank">(SaaS)</a>.
                        </p>

                        <p>
                            En respectant les <a href="http://12factor.net/" target="_blank">12 facteurs</a>,
                            le développeur peut bénéficier des avantages de la plateforme,
                            scalabilité en quelques clics,
                            de nombreux services (mails, base de données, logs, benchs, ...), ...
                        </p>

                        <p>
                            Le développeur doit installer la <a href="https://toolbelt.heroku.com/" target="_blank">heroku
                            toolbelt</a> sur la machine servant au déploiement.
                            Il pousse la branche git à déployer directement sur heroku (traité alors comme un simple remote),
                            lequel construit et déploie tout seul le projet en fonction d'un fichier de configuration.
                            L'application peut alors être gérée depuis la toolbelt et le dashboard fourni sur heroku.com.
                        </p>
                    </i>

                </accordion-group>

            </accordion>

        </div>

    </div>
</div>